<!doctype html>
<html class="no-js">
  <head>
      <base href="/">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title ng-bind="pageTitle"></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">

      <link rel="stylesheet" href="css/main.css">
  </head>
  <body layout="column">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <h2>
            <span>Antalya</span>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <div class="top-container" layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
          <md-content layout-padding ng-controller="MenuCtrl as menu">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
              Close Sidenav Left
            </md-button>
            <md-list>
              <md-list-item ng-repeat="page in menu.pages" ng-click="menu.goToPage(page, $event)">
                <p>{{ page.name }}</p>
              </md-list-item>
            </md-list>
          </md-content>
        </md-sidenav>
        <md-content flex layout-padding layout="column">
          <div layout="column" layout-fill layout-align="top center">
            <div ng-view></div>
          </div>
        </md-content>
      </div>

      <script src="js/main.js"></script>
  </body>
</html>